<h2>What should I be doing?</h2>
<p>
  What you have is a bare-bones web application.  Your job is to make it less bare
  <em>any which way you like</em>.  Here are some ideas for what to do with
  this application.  You're free to come up with an idea of your own, too.
</p>
<p>
  <strong>Do not</strong> try to implement more than one idea at a time.  Pick
  one (even if it's your own) and work on that — it's better to have one thing
  100% done than two things 50% done.
</p>
<p><strong>Before you start</strong>, flag a staff member and talk through what
idea you're going to try to build and your plan of attack.  Don't just go into
this blind! To paraphrase Eisenhower: "Plans are useless, but planning is indispensable."
</p>
<h3>Ideas</h3>
<ol>
  <li>
    <p>
    Edit <code>templates/layout.erb</code>, <code>templates/index.erb</code>,
    and <code>public/main.css</code> to improve the design of the application
    in any way you like.
    </p>
  </li>
  <li>
    <p>
    Add the ability to delete an existing post. Maybe do something fancy,
    like only being able to delete an existing post within 2 minutes of first
    creating it.
    </p>
  </li>
  <li>
    <p>
    Add the ability to update/modify an existing post.  Maybe do something fancy,
    like only being able to update an existing post within 2 minutes of first
    creating it.
    </p>
  </li>
  <li>
    <p>
    Add error handling, so that if a user submits an empty post they see a
    friendly error message instead of a new, empty post on their wall.
    </p>
  </li>
  <li>
    <p>
    Add other fields (of your choosing) to the form and database, e.g.,
    a title, mood, or whatever else.
    </p>
  </li>
  <li>
    <p>
    <strong>Super hard</strong>: allow users to upload photos with their posts
    or have photo-only posts.
    </p>
  </li>
  <li>
    <p>
    <strong>Super hard</strong>: allow users to create different walls so that
    each wall has a unique URL like (/wall/1234) with its own set of posts.
    </p>
  </li>
  <li>
    <p>
    Come up with your own idea!  Make sure to run it past a staff member first.
    </p>
  </li>
</ol>
